<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".UniVoiceApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniVoice"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".feature.login.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.entry.EntryActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.example.xml.StudentInfoCheckActivity"
            android:exported="false"
            android:theme="@style/Theme.UniVoice" />
        <activity
            android:name=".feature.example.xml.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".feature.example.xml.SchoolInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.example.xml.DepartmentInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.example.xml.StudentIdInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.example.xml.StudentCardPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.example.xml.NameInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.example.xml.CreateAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.example.xml.StudentCardCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".feature.quickscan.QuickScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.quickscan.QuickScanCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.example.xml.ExampleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.example.compose.ExampleComposeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>