<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name=".UniVoiceApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniVoice"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".feature.login.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.entry.EntryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.signup.StudentInfoCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.signup.SchoolInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.signup.DepartmentInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.signup.StudentIdInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.signup.StudentCardPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.signup.InfoInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.signup.CreateAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".feature.signup.CheckInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.signup.StudentCardCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.quickscan.QuickScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.quickscan.QuickScanCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.example.xml.ExampleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.example.compose.ExampleComposeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>